body
{
	margin: 0;
	padding: 0;
	font-family: ravie;
	background: url('1.jpg');
	background-size: cover;

}
.signupnow
{
	max-width: 450px;
	border-radius: 20px;
	margin: auto;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding: 40px;
	color: #fff;
	margin-top: 60px;

}
h2{
	text-align: center;
}
input[type=text],input[type=password]
{
	width: 100%;
	box-sizing: border-box;
	padding: 12px 5px;
	background: rgba(0, 0, 0, 0.1);
	outline: none;
	border: none;
	border-bottom: 1.0px solid rgb(158, 158, 158);
	color: #fff;
	border-radius: 5px;
	margin: 5px;
	
}
input[type=submit]
{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
	margin-top: 30px;
	outline: none;
	border:none;
	background: #60adde;
	opacity: 0.7;
	border-radius: 20px;
	font-size: 20px;
	color: #fff;
}
input[type=submit] :hover
{
	background: #076ed4;
	opacity: 0.7;
}
