<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='signup.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
  </head>
  <body>
  <form method = "post" action = "/">
    <center>
      <div class="signupnow">
        <h1>Login</h1>
        <div class="signupnow">
          <i class="fas fa-user"></i>
          <input type="text" name="mail" placeholder="Username">
  
          <i class="fas fa-lock"></i>
          <input type="password" name="pas" placeholder="Password">
        </div>
        <input type = "submit" class="btn" value = "Sign in">
        <a href="/create" style="color: rgba(255, 255, 255, 0.8); text-decoration: none; "> Sign up</a>
        </div> 
    </center>
      
     
    </div>
  </form>
</body>
</html>

